Scrapy==2.9.0
seaborn==0.12.2
segtok==1.5.11
serverfiles==0.3.1
service-identity==23.1.0
simhash==2.1.2
simpful==2.11.0
six==1.16.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.4
SpeechRecognition==3.10.0
stack-data==0.6.3
tabulate==0.9.0
textblob==0.14.0
threadpoolctl==3.1.0
tldextract==3.4.4
tornado==6.4
tqdm==4.65.0
traitlets==5.14.0
tweepy==4.14.0
twine==4.0.2
Twisted==22.10.0
twisted-iocpsupport==1.0.3
tzdata==2023.3
ufal.udpipe==1.3.0.1
w3lib==2.1.1
wcwidth==0.2.12
webencodings==0.5.1
wikipedia==1.4.0
xlrd==2.0.1
XlsxWriter==3.1.9
xmltodict==0.13.0
yake==0.4.8
yarl==1.8.2
zipp==3.15.0
zope.interface==6.0